# Crawl stock data from Finnhub

# APIs
**_APIs_** (short for **_Application Programming Interfaces_**) are an important aspect of the modern internet. APIs are what allows everything on the internet to play nicely with each other and work together.

### What is an API made of?

APIs are very common in the tech world, which means that are many, many different kinds that you're going to run into. While each API you work with will be unique in some way, there are some common traits you can expect to see overall. An API has three main components as listed below:

* **Access Permissions:** Is the user allowed to ask for data or services?
* **Request:** The service being asked for.  A Request has two main parts:

    * **Methods:** Once the access is permitted, what questions can be asked.
    
    * **Parameters:** Additional details that can be sent with requests or responses

* **Response:** The data or service as a result of the request.

## Response codes: 

https://en.wikipedia.org/wiki/List_of_HTTP_status_codes

What is a 401?

## API Keys!!

https://finnhub.io/

### Should I publicly share my passwords on Github?

When using an API that requires an API key and password you should **NEVER** hardcode theses values into your main file. When you upload your project onto github it is completely public and vulnerable to attack. Assume that if you put sensitive information publicly on the internet it will be found and abused. 

To this end, how can we easily access our API key without opening ourselves up to vulnerabilities?

There are many ways to store sensitive information!

1. Create a `config.py` file to store passwords
2. Create a `.gitignore` on your GitHub repository

In [1]:
from config import api_key

<hr>

# [The finnhub-python API](https://github.com/Finnhub-Stock-API/finnhub-python), [Unix Timestamp Converter](https://www.unixtimestamp.com/)
![stock_candles](images/stock_candles.jpg)

In [2]:
import sys
!{sys.executable} -m pip install install finnhub-python

import pandas as pd

Requirement already satisfied: install in c:\users\thu\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: finnhub-python in c:\users\thu\anaconda3\lib\site-packages (2.4.9)
Requirement already satisfied: requests>=2.22.0 in c:\users\thu\anaconda3\lib\site-packages (from finnhub-python) (2.27.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\thu\anaconda3\lib\site-packages (from requests>=2.22.0->finnhub-python) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\thu\anaconda3\lib\site-packages (from requests>=2.22.0->finnhub-python) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\thu\anaconda3\lib\site-packages (from requests>=2.22.0->finnhub-python) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\thu\anaconda3\lib\site-packages (from requests>=2.22.0->finnhub-python) (2021.10.8)

# APPLE

In [3]:
import finnhub

# Setup client
finnhub_client = finnhub.Client(api_key)

# Stock candles
res = finnhub_client.stock_candles('AAPL', 'D', 1641013200, 1644814800)
print(res)

# # Stock symbols
# print(finnhub_client.stock_symbols('US')[0:5])

# # Symbol lookup
# print(finnhub_client.symbol_lookup('apple'))

{'c': [182.01, 179.7, 174.92, 172, 172.17, 172.19, 175.08, 175.53, 172.19, 173.07, 169.8, 166.23, 164.51, 162.41, 161.62, 159.78, 159.69, 159.22, 170.33, 174.78, 174.61, 175.84, 172.9, 172.39, 171.66, 174.83, 176.28, 172.12, 168.64, 168.88], 'h': [182.88, 182.94, 180.17, 175.3, 174.14, 172.5, 175.18, 177.18, 176.62, 173.78, 172.54, 171.08, 169.68, 166.33, 162.3, 162.76, 164.3894, 163.84, 170.35, 175, 174.84, 175.88, 176.2399, 174.1, 173.9458, 175.35, 176.65, 175.48, 173.08, 169.58], 'l': [177.71, 179.12, 174.64, 171.64, 171.03, 168.17, 170.82, 174.82, 171.79, 171.09, 169.405, 165.94, 164.18, 162.3, 154.7, 157.02, 157.82, 158.28, 162.8, 169.51, 172.31, 173.33, 172.12, 170.68, 170.95, 171.43, 174.9, 171.55, 168.04, 166.56], 'o': [177.83, 182.63, 179.61, 172.7, 172.89, 169.08, 172.32, 176.12, 175.78, 171.34, 171.51, 170, 166.98, 164.415, 160.02, 158.98, 163.5, 162.45, 165.71, 170.16, 174.01, 174.745, 174.48, 171.68, 172.86, 171.73, 176.05, 174.14, 172.33, 167.37], 's': 'ok', 't': [1641168000, 1641254400, 1641340800, 1641427200, 1641513600, 1641772800, 1641859200, 1641945600, 1642032000, 1642118400, 1642464000, 1642550400, 1642636800, 1642723200, 1642982400, 1643068800, 1643155200, 1643241600, 1643328000, 1643587200, 1643673600, 1643760000, 1643846400, 1643932800, 1644192000, 1644278400, 1644364800, 1644451200, 1644537600, 1644796800], 'v': [104701220, 99310438, 94537602, 96903955, 86709147, 106765552, 76138312, 74805173, 84505760, 80440780, 91168729, 94814990, 91420515, 122848858, 162706686, 115798367, 108275308, 121954638, 179935660, 115541590, 86213911, 84914256, 89418074, 82465400, 77251204, 74829217, 71285038, 90865899, 98670687, 86185530]}

In [4]:
# print out the finnhub stock dictionary in form of dataframe
print(pd.DataFrame(res))

         c         h        l        o   s           t          v
0   182.01  182.8800  177.710  177.830  ok  1641168000  104701220
1   179.70  182.9400  179.120  182.630  ok  1641254400   99310438
2   174.92  180.1700  174.640  179.610  ok  1641340800   94537602
3   172.00  175.3000  171.640  172.700  ok  1641427200   96903955
4   172.17  174.1400  171.030  172.890  ok  1641513600   86709147
5   172.19  172.5000  168.170  169.080  ok  1641772800  106765552
6   175.08  175.1800  170.820  172.320  ok  1641859200   76138312
7   175.53  177.1800  174.820  176.120  ok  1641945600   74805173
8   172.19  176.6200  171.790  175.780  ok  1642032000   84505760
9   173.07  173.7800  171.090  171.340  ok  1642118400   80440780
10  169.80  172.5400  169.405  171.510  ok  1642464000   91168729
11  166.23  171.0800  165.940  170.000  ok  1642550400   94814990
12  164.51  169.6800  164.180  166.980  ok  1642636800   91420515
13  162.41  166.3300  162.300  164.415  ok  1642723200  122848858
14  161.62  162.3000  154.700  160.020  ok  1642982400  162706686
15  159.78  162.7600  157.020  158.980  ok  1643068800  115798367
16  159.69  164.3894  157.820  163.500  ok  1643155200  108275308
17  159.22  163.8400  158.280  162.450  ok  1643241600  121954638
18  170.33  170.3500  162.800  165.710  ok  1643328000  179935660
19  174.78  175.0000  169.510  170.160  ok  1643587200  115541590
20  174.61  174.8400  172.310  174.010  ok  1643673600   86213911
21  175.84  175.8800  173.330  174.745  ok  1643760000   84914256
22  172.90  176.2399  172.120  174.480  ok  1643846400   89418074
23  172.39  174.1000  170.680  171.680  ok  1643932800   82465400
24  171.66  173.9458  170.950  172.860  ok  1644192000   77251204
25  174.83  175.3500  171.430  171.730  ok  1644278400   74829217
26  176.28  176.6500  174.900  176.050  ok  1644364800   71285038
27  172.12  175.4800  171.550  174.140  ok  1644451200   90865899
28  168.64  173.0800  168.040  172.330  ok  1644537600   98670687
29  168.88  169.5800  166.560  167.370  ok  1644796800   86185530

In [5]:
df_aapl = pd.DataFrame(res)

# rename the column inside the dataframe
df_aapl.columns = ["close","high","low","open","status","date","volume"]

# convert unix timestamp into date
df_aapl['date'] = pd.to_datetime(df_aapl['date'],unit='s')

# drop status column since it's meaningless for my analysis
df_aapl = df_aapl.drop(['status'], axis=1)

# change the order of dataframe columns for better visibility
df_aapl = df_aapl[["date","close","high","low","open","volume"]]

df_aapl

         date   close      high      low     open     volume
0  2022-01-03  182.01  182.8800  177.710  177.830  104701220
1  2022-01-04  179.70  182.9400  179.120  182.630   99310438
2  2022-01-05  174.92  180.1700  174.640  179.610   94537602
3  2022-01-06  172.00  175.3000  171.640  172.700   96903955
4  2022-01-07  172.17  174.1400  171.030  172.890   86709147
5  2022-01-10  172.19  172.5000  168.170  169.080  106765552
6  2022-01-11  175.08  175.1800  170.820  172.320   76138312
7  2022-01-12  175.53  177.1800  174.820  176.120   74805173
8  2022-01-13  172.19  176.6200  171.790  175.780   84505760
9  2022-01-14  173.07  173.7800  171.090  171.340   80440780
10 2022-01-18  169.80  172.5400  169.405  171.510   91168729
11 2022-01-19  166.23  171.0800  165.940  170.000   94814990
12 2022-01-20  164.51  169.6800  164.180  166.980   91420515
13 2022-01-21  162.41  166.3300  162.300  164.415  122848858
14 2022-01-24  161.62  162.3000  154.700  160.020  162706686
15 2022-01-25  159.78  162.7600  157.020  158.980  115798367
16 2022-01-26  159.69  164.3894  157.820  163.500  108275308
17 2022-01-27  159.22  163.8400  158.280  162.450  121954638
18 2022-01-28  170.33  170.3500  162.800  165.710  179935660
19 2022-01-31  174.78  175.0000  169.510  170.160  115541590
20 2022-02-01  174.61  174.8400  172.310  174.010   86213911
21 2022-02-02  175.84  175.8800  173.330  174.745   84914256
22 2022-02-03  172.90  176.2399  172.120  174.480   89418074
23 2022-02-04  172.39  174.1000  170.680  171.680   82465400
24 2022-02-07  171.66  173.9458  170.950  172.860   77251204
25 2022-02-08  174.83  175.3500  171.430  171.730   74829217
26 2022-02-09  176.28  176.6500  174.900  176.050   71285038
27 2022-02-10  172.12  175.4800  171.550  174.140   90865899
28 2022-02-11  168.64  173.0800  168.040  172.330   98670687
29 2022-02-14  168.88  169.5800  166.560  167.370   86185530

In [6]:
# Write object to a comma-separated values (csv) file
df_aapl.to_csv("data/apple.csv", index=False)
print("sucessfully!")

sucessfully!

# Microsoft Corp. (MSFT)

In [7]:
# Stock candles
res = finnhub_client.stock_candles('MSFT', 'D', 1641013200, 1644814800)

df_msft = pd.DataFrame(res)

# rename the column inside the dataframe
df_msft.columns = ["close","high","low","open","status","date","volume"]

# convert unix timestamp into date
df_msft['date'] = pd.to_datetime(df_msft['date'],unit='s')

# drop status column since it's meaningless for my analysis
df_msft = df_msft.drop(['status'], axis=1)

# change the order of dataframe columns for better visibility
df_msft = df_msft[["date","close","high","low","open","volume"]]

# Write object to a comma-separated values (csv) file
df_msft.to_csv("data/microsoft.csv", index=False)
print("successfully!")

successfully!

# Alphabet Inc. (GOOG, GOOGL)

In [8]:
# Stock candles
res = finnhub_client.stock_candles('GOOGL', 'D', 1641013200, 1644814800)

df_googl = pd.DataFrame(res)

# rename the column inside the dataframe
df_googl.columns = ["close","high","low","open","status","date","volume"]

# convert unix timestamp into date
df_googl['date'] = pd.to_datetime(df_googl['date'],unit='s')

# drop status column since it's meaningless for my analysis
df_googl = df_googl.drop(['status'], axis=1)

# change the order of dataframe columns for better visibility
df_googl = df_googl[["date","close","high","low","open","volume"]]

# Write object to a comma-separated values (csv) file
df_googl.to_csv("data/google.csv", index=False)
print("sucessfully!")

sucessfully!

# Meta Platforms Inc. (FB)

In [9]:
# Stock candles
res = finnhub_client.stock_candles('FB', 'D', 1641013200, 1644814800)

df_fb = pd.DataFrame(res)

# rename the column inside the dataframe
df_fb.columns = ["close","high","low","open","status","date","volume"]

# convert unix timestamp into date
df_fb['date'] = pd.to_datetime(df_fb['date'],unit='s')

# drop status column since it's meaningless for my analysis
df_fb = df_fb.drop(['status'], axis=1)

# change the order of dataframe columns for better visibility
df_fb = df_fb[["date","close","high","low","open","volume"]]

# Write object to a comma-separated values (csv) file
df_fb.to_csv("data/fb.csv", index=False)
print("successfully!")

successfully!

# Amazon.com (AMZN)

In [10]:
# Stock candles
res = finnhub_client.stock_candles('AMZN', 'D', 1641013200, 1644814800)

df_amzn = pd.DataFrame(res)

# rename the column inside the dataframe
df_amzn.columns = ["close","high","low","open","status","date","volume"]

# convert unix timestamp into date
df_amzn['date'] = pd.to_datetime(df_amzn['date'],unit='s')

# drop status column since it's meaningless for my analysis
df_amzn = df_amzn.drop(['status'], axis=1)

# change the order of dataframe columns for better visibility
df_amzn = df_amzn[["date","close","high","low","open","volume"]]

# Write object to a comma-separated values (csv) file
df_amzn.to_csv("data/amazon.csv", index=False)
print("successfully!")

successfully!

# Tesla, Inc.(TSLA)

In [11]:
# Stock candles
res = finnhub_client.stock_candles('TSLA', 'D', 1641013200, 1644814800)

df_tsla = pd.DataFrame(res)

# rename the column inside the dataframe
df_tsla.columns = ["close","high","low","open","status","date","volume"]

# convert unix timestamp into date
df_tsla['date'] = pd.to_datetime(df_tsla['date'],unit='s')

# drop status column since it's meaningless for my analysis
df_tsla = df_tsla.drop(['status'], axis=1)

# change the order of dataframe columns for better visibility
df_tsla = df_tsla[["date","close","high","low","open","volume"]]

# Write object to a comma-separated values (csv) file
df_tsla.to_csv("data/tesla.csv", index=False)
print("successfully!")

successfully!

In [12]:
df = pd.concat([df_aapl, df_msft, df_googl, df_fb, df_amzn, df_tsla], axis=1, join='inner')['close']
df.columns = ['aapl_close', 'msft_close', 'googl_close', 'fb_close', 'amzn_close', 'tsla_close']
df = pd.concat([df_tsla['date'], df], axis=1, join='inner')
df

,date,aapl_close,msft_close,googl_close,fb_close,amzn_close,tsla_close
0,2022-01-03,182.01,334.75,2899.83,338.54,3408.09,1199.78
1,2022-01-04,179.70,329.01,2887.99,336.53,3350.44,1149.59
2,2022-01-05,174.92,316.38,2755.50,324.17,3287.14,1088.12
3,2022-01-06,172.00,313.88,2754.95,332.46,3265.08,1064.70
4,2022-01-07,172.17,314.04,2740.34,331.79,3251.08,1026.96
5,2022-01-10,172.19,314.27,2773.39,328.07,3229.72,1058.12
6,2022-01-11,175.08,314.98,2794.72,334.37,3307.24,1064.40
7,2022-01-12,175.53,318.27,2828.61,333.26,3304.14,1106.22
8,2022-01-13,172.19,304.80,2771.74,326.48,3224.28,1031.56
9,2022-01-14,173.07,310.20,2789.61,331.90,3242.76,1049.61
10,2022-01-18,169.80,302.65,2719.96,318.15,3178.35,1030.51
11,2022-01-19,166.23,303.33,2702.33,319.59,3125.98,995.65
12,2022-01-20,164.51,301.60,2666.15,316.56,3033.35,996.27
13,2022-01-21,162.41,296.03,2607.03,303.17,2852.86,943.90
14,2022-01-24,161.62,296.37,2616.08,308.71,2890.88,930.00
15,2022-01-25,159.78,288.49,2538.70,300.15,2799.72,918.40
16,2022-01-26,159.69,296.71,2584.66,294.63,2777.45,937.41
17,2022-01-27,159.22,299.84,2580.10,294.64,2792.75,829.10
18,2022-01-28,170.33,308.26,2667.02,301.71,2879.56,846.35
19,2022-01-31,174.78,310.98,2706.07,313.26,2991.47,936.72
20,2022-02-01,174.61,308.76,2752.88,319.00,3023.87,931.25
21,2022-02-02,175.84,313.46,2960.00,323.00,3012.25,905.66
22,2022-02-03,172.90,301.25,2861.80,237.76,2776.91,891.14
23,2022-02-04,172.39,305.94,2865.86,237.09,3152.79,923.32
24,2022-02-07,171.66,300.95,2784.02,224.91,3158.71,907.34
25,2022-02-08,174.83,304.56,2787.98,220.18,3228.27,922.00
26,2022-02-09,176.28,311.21,2831.84,232.00,3223.79,932.00
27,2022-02-10,172.12,302.38,2772.40,228.07,3180.07,904.55
28,2022-02-11,168.64,295.04,2685.65,219.55,3065.87,860.00
29,2022-02-14,168.88,295.00,2710.52,217.70,3103.34,875.76

In [13]:
# Write merged object to a comma-separated values (csv) file
df.to_csv("data/all_stocks.csv", index=False)
print("successfully!")

successfully!

# Get latest close price for each company and merge them in a unique clean dataset from Yahoo Finance API

In [14]:
import sys
!{sys.executable} -m pip install install yfinance

Requirement already satisfied: install in c:\users\thu\anaconda3\lib\site-packages (1.3.5)
Requirement already satisfied: yfinance in c:\users\thu\anaconda3\lib\site-packages (0.1.70)
Requirement already satisfied: numpy>=1.15 in c:\users\thu\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\thu\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: requests>=2.26 in c:\users\thu\anaconda3\lib\site-packages (from yfinance) (2.27.1)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\thu\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: lxml>=4.5.1 in c:\users\thu\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\thu\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\thu\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\thu\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\thu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\thu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\thu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\thu\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)

In [15]:
import pandas as pd
import yfinance as yf
from functools import reduce
# Only imports reduce() from functools to use it directly

# Changes numeric fields format to include 2 digits only
pd.set_option('display.float_format', '{:.2f}'.format) 

tickers = ['AAPL', 'MSFT', 'GOOGL', 'FB', 'AMZN', 'TSLA']

adj_prices = []
for i in range(len(tickers)):
    close_price = pd.DataFrame(yf.download(tickers[i])['Close'].dropna(axis=0, how='any'))
    close_price = close_price.loc[~close_price.index.duplicated(keep='last')]
    close_price.columns = [tickers[i]]
    adj_prices.append(close_price)

df = reduce(lambda x, y: pd.merge(x, y, left_index = True, 
                                  right_index = True ,how='outer'), adj_prices)
df.sort_index(ascending = False, inplace = True)
df.index = pd.to_datetime(df.index ).date

df.head(5)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

             AAPL   MSFT   GOOGL     FB    AMZN   TSLA
2022-02-18 167.30 287.93 2608.06 206.16 3052.03 856.98
2022-02-17 168.88 290.73 2650.78 207.71 3093.05 876.35
2022-02-16 172.55 299.50 2754.76 216.54 3162.01 923.39
2022-02-15 172.79 300.47 2732.17 221.00 3130.21 922.43
2022-02-14 168.88 295.00 2710.52 217.70 3103.34 875.76